<!--app-nav-bar/-->
<!--button (click)="mode(1)">Normal</button-->
<!--button (click)="subscribeToRoom(false)">Play</button-->
<button (click)="mode('')">Play</button>
<button (click)="mode('on-line')">On-line</button>
<button (click)="mode('plus')">Plus</button>
<h2>{{this.msg}}</h2>
<div >
    <canvas [hidden]="visibleCanvas()" #gameCanvas width={{getGame().canvasWidth}} height={{getGame().canvasheight}}></canvas>
    <script type="text/javascript" src="pong.component.ts"></script>
</div>
<!-- <h2>{{this.waitingList}}</h2> -->
  <!-- <div *ngIf="getGame().powersAllow" class="container"> -->
  <div class="container">
    <table class="inner-container">
      <tbody>
        <tr class="title-row">
          <td colspan="2">Available Powers</td>
        </tr>
        <tr class="player-names">
          <td>{{ getGame().playerOne }}</td>
          <td>{{ getGame().playerTwo }}</td>
        </tr>
        <tr class="action-buttons">
          <td>
            <ng-container *ngFor="let i of [0, 1, 2]; let index = index">
              <button
                [ngClass]="{'active-button': buttonStates[index]}"
                (click)="handleButtonClick(index)"
              >
                <div class="button-icon">
                  <div class="inner-rectangle">
                    <div class="button-number">{{ index + 1 }}</div>
                  </div>
                </div>
                <div class="button-text">{{ pOne[index] }}</div>
              </button>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let i of [3, 4, 5]; let index = index">
              <button
                [ngClass]="{'active-button': buttonStates[index + 3]}"
                (click)="handleButtonClick(index + 3)"
              >
                <div class="button-icon">
                  <div class="inner-rectangle">
                    <div class="button-number">{{ index + 1 }}</div>
                  </div>
                </div>
                <div class="button-text">{{ pTwo[index] }}</div>
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<h4 *ngIf="getGame().powersAllow">Power List</h4>
  <ul *ngIf="getGame().powersAllow">
    <li><strong>SmallerPaddle:</strong> Make your opponent paddle smaller.</li>
    <li><strong>BiggerPaddle:</strong> Make your own paddle bigger!</li>
    <li><strong>InestableBall:</strong> Every ten seconds the ball's speed changes.</li>
    <li><strong>FasterPaddle:</strong> You will be much faster.</li>
    <li><strong>SlowerPaddle:</strong> Your rival will reduce the speed.</li>
    <li><strong>ReverseMove:</strong> Other player will not know where he is going.</li>
  </ul>
<!--app-chat/-->
