<!-- <div class="topnav">
    <button [disabled]="getUserStatus()==3" class="nav-button" (click)="redirectTo('/home')" value="Home">Home
    </button>
    <button [disabled]="this.getUserStatus()==3" class="nav-button" (click)="redirectTo('/all-users')" value='Users'>Users</button>

    <button [disabled]="this.getUserStatus()==3" class="nav-button" (click)="redirectToFriends()" value='Friends'>Friends</button>
    <!--button class="blue left" (click)="redirectToGame()" value='Play'>Play</button-->
    <!-- <button [disabled]="this.getUserStatus()==3" *ngIf="hasAdminPrivileges()" class="nav-button" (click)="redirectToAdmin()" value='Admin'>Admin</button>
    <button [disabled]="this.getUserStatus()==3" *ngIf="hasAdminPrivileges()" class="nav-button" (click)="redirectToChatAdmin()" value='Chat admin'>Chat admin</button>
    <button [disabled]="this.getUserStatus()==3" class="nav-button" (click)="redirectToMyProfile()" value='MyProfile'>MyProfile</button>

    <button [disabled]="this.getUserStatus()==3" class="right" (click)="redirectTo('/login')" value='Login' *ngIf="!isUserLogged"></button>
    <button class="nav-button right" value='Logout' *ngIf="isUserLogged" (click)=logout()>Logout</button>
</div> -->

<div class="topnav">
    <div class="nav-buttons-left">
        <button [disabled]="getUserStatus()==3" class="nav-button" (click)="redirectTo('/home')" value="Home">Home</button>
        <button [disabled]="this.getUserStatus()==3" class="nav-button" (click)="redirectTo('/all-users')" value='Users'>Users</button>
        <button [disabled]="this.getUserStatus()==3" class="nav-button" (click)="redirectToFriends()" value='Friends'>Friends</button>
        <button [disabled]="this.getUserStatus()==3" *ngIf="hasAdminPrivileges()" class="nav-button" (click)="redirectToAdmin()" value='Admin'>Admin</button>
        <button [disabled]="this.getUserStatus()==3" *ngIf="hasAdminPrivileges()" class="nav-button" (click)="redirectToChatAdmin()" value='Chat admin'>Chat admin</button>
        <button [disabled]="this.getUserStatus()==3" class="nav-button" (click)="redirectToMyProfile()" value='MyProfile'>MyProfile</button>
    </div>
    <button [disabled]="this.getUserStatus()==3" class="nav-button right" (click)="redirectTo('/login')" value='Login' *ngIf="!isUserLogged"></button>
    <button class="logout-button right" value='Logout' *ngIf="isUserLogged" (click)=logout()>Logout</button>
</div>
