.DS_Store
*sql
backend/node_modules
backend/dist
backend/.env
backend/package-lock.json
backend/src/node_modules
backend/src/npm-debug.log
backend/src/yarn-error.log
frontend/.env
frontend/src/.git
frontend/src/.git/*
frontend/src/.vscode/
frontend/src/.editorconfig
frontend/src/.angular
frontend/src/dist
frontend/src/package-lock.json
frontend/src/node_modules
postgres/*
front/*
srcs/*
*swp
tty
*.log

frontend/node_modules/

frontend/src/src/environments/environment.ts
