<app-nav-bar/>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
	<br />
    <label class="tab" for="name">Name :</label>
	<input id="name" type="text" formControlName="name" placeholder={{user?.firstName}}>
	<br />
	<br />
    <label class="tab" for="lastName">Last Name :</label>
	<input id="lastName" type="text" formControlName="lastName" placeholder="{{user?.lastName}}">
	<br />
	<br />
	<label class="tab" for="nick">Nick :</label>
	<input id="nick" type="text" formControlName="nick" placeholder="{{user?.nick}}">
	<br />
	<br />
	<label class="tab" for="email">Email :</label>
	<input id="email" type="text" formControlName="email" placeholder="{{user?.email}}">
	<br />
	<br />
	<button class="button" type="submit">Submit</button>
</form>