.butt{
    height:50px;
    width:50px;
}
.frame{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 557px;
    height: 900px;
    left: 268px;
    top: 155px;
}

.column_picture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 67px;
    height: 900px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}