.butt{
    height:50px;
    width:50px;
}
.frame{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 557px;
    height: 900px;
    left: 268px;
    top: 155px;
    background: #adadef;

}

.avatar_column {
    /*grid */
    width: 67px;
    height: 50px;
/* Light/White */
   /* background: #d10f0f;*/

/* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.nick_column {
    width: 67px;
    height: 50px;
/* Light/White */
    background: #d8e30e84;

/* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.avatar {
    /* Photo_value */

    width: 67px;
    height: 75px;

    /* Light/White */
    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}
.rect {
    box-sizing: border-box;

    position: absolute;
    width: 70px;
    height: 70px;
    /*left: calc(50% - 36px/2 + 0.5px);*/
    /*top: calc(50% - 36px/2);*/

    /*background: us.image(.png);*/

        /* Light/White */
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    border-radius: 35px;
    object-fit: cover;
}

.table_column {
    /* Table Column */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 432px;
    height: 900px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.user {
    width: 432px;
    height: 50px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}