<app-nav-bar/>

<div class="container mt-4">
	<h2>Edit Profile</h2>
	<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" formControlName="firstName" placeholder="{{ user?.firstName }}">
		</div>

		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text" class="form-control" formControlName="lastName" placeholder="{{ user?.lastName }}">
		</div>

		<div class="form-group">
			<label for="nick">Nick</label>
			<input id="nick" type="text" class="form-control" formControlName="nick" placeholder="{{ user?.nick }}">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input id="email" type="text" class="form-control" formControlName="email" placeholder="{{ user?.email }}">
		</div>

		<br>

		<!-- Botón para activar/desactivar MFA -->
		<div *ngIf="!mfaActivated">
			<button class="btn btn-success" type="button" (click)="connectMfa()">Enable Two-Factor Authentication (MFA)</button>
		</div>
		<!-- Botón para desconectar MFA -->
		<div *ngIf="mfaActivated">
			<button class="btn btn-danger" type="button" (click)="disconnectMfa()">Disconnect Two-Factor Authentication (MFA)</button>
		</div>

		<button class="btn btn-primary mt-3" type="submit">Submit</button>
		<app-modal></app-modal>
	</form>
</div>