<app-nav-bar/>

<div class="container mt-4">
	<h2>Edit Profile</h2>
	<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" formControlName="firstName" placeholder="{{ user?.firstName }}">
		</div>

		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text" class="form-control" formControlName="lastName" placeholder="{{ user?.lastName }}">
		</div>

		<div class="form-group">
			<label for="nick">Nick</label>
			<input id="nick" type="text" class="form-control" formControlName="nick" placeholder="{{ user?.nick }}">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input id="email" type="text" class="form-control" formControlName="email" placeholder="{{ user?.email }}">
		</div>

		<!-- Campo para activar o desactivar MFA -->
		<div class="form-check">
			<input class="form-check-input" type="checkbox" formControlName="mfa" id="mfaEnabled">
			<label class="form-check-label" for="mfaEnabled">
				Enable Two-Factor Authentication (MFA)
			</label>
		</div>

		<button class="btn btn-primary mt-3" type="submit">Submit</button>
	</form>
</div>