<app-nav-bar/>

	<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Chat rooms</th>
        <th>live chat</th>
        <th>owner</th>
        <th>admins</th>
        <th>users</th>
        <th>banned</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of messageList | keyvalue">
        <td>{{ room.key }}</td>
        <td>
          <div class="scrollable-textbox p-2">
          	  <div *ngFor="let message of room.value">{{message.login}} ({{message.date}}): {{ message.message}}</div>
          </div>
        </td>
        <td>
        	{{roomsMetaData.get(room.key)?.owner}} - <span (click)="revokeOwner(room.key, roomsMetaData.get(room.key)!.owner)">Revoke ownership</span>
        </td>
        <td>
        	<div *ngFor="let admin of roomsMetaData.get(room.key)?.admins">
        		{{admin}} - <span (click)="revokeAdmin(room.key, admin)">Revoke admin privileges</span>
        	</div>

        </td>
        <td>
        	<div *ngFor="let user of roomsMetaData.get(room.key)?.users">
        		{{user}} - <span (click)="makeAdmin(room.key, user)">Make channel admin</span> - <span (click)="makeOwner(room.key, user)">Make channel owner</span> - <span *ngIf="!isSilenced(room.key, user)" (click)="silenceUser(room.key, user)"> Silence User - </span> <span *ngIf="isSilenced(room.key,user)" (click)="unSilenceUser(room.key, user)"> Unsilence User</span> - <span (click)="banUser(room.key, user)">Ban user</span>
        	</div>
        </td>
        <td>
        	<div *ngFor="let ban of roomsMetaData.get(room.key)?.banned">
        		{{ban}} - <span (click)="removeBan(room.key, ban)">Remove ban</span>
        	</div>

        </td>
        <td>
          <button class="btn btn-danger" (click)="destroyRoom(room.key)">Destruir Canal</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


