<app-nav-bar/>

	<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Chat rooms</th>
        <th>live chat</th>
        <th>owner</th>
        <th>admins</th>
        <th>users</th>
        <th>banned</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of messageList | keyvalue">
        <td>{{ room.key }}</td>
        <td>
          <div class="scrollable-textbox p-2">
          	  <div *ngFor="let message of room.value">{{message.login}} ({{message.date}}): {{ message.message}}</div>
          </div>
        </td>
        <td>
        	{{roomsMetaData.get(room.key)?.owner}}<span *ngIf="isOwner(room.key, roomsMetaData.get(room.key)!.owner)" (click)="revokeOwner(room.key, roomsMetaData.get(room.key)!.owner)"> - Revoke ownership</span>
        </td>
        <td>
        	<div *ngFor="let admin of roomsMetaData.get(room.key)?.admins">
        		{{admin}} - <span *ngIf="isAdmin(room.key, admin) && !isOwner(room.key, admin)" (click)="revokeAdmin(room.key, admin)">Revoke admin privileges</span>
        	</div>

        </td>
        <td>
        	<table class="table-striped">
        	<tr *ngFor="let user of roomsMetaData.get(room.key)?.users" style="border-bottom: 1px solid #ccc;">
        		<td>{{user}}</td>
        		<td>
        			<div *ngIf="!isAdmin(room.key, user) && !isOwner(room.key, user)" (click)="makeAdmin(room.key, user)"> - Make channel admin</div>
        			<div *ngIf="!isAdmin(room.key, user) && !isOwner(room.key, user)" (click)="makeOwner(room.key, user)"> - Make channel owner</div>
        			<div *ngIf="!isSilenced(room.key, user)" (click)="silenceUser(room.key, user)"> - Silence User</div>
        			<div *ngIf="isSilenced(room.key,user)" (click)="unSilenceUser(room.key, user)"> - Remove silence</div>
        			<div (click)="banUser(room.key, user)">- Ban user</div>
        		</td>
        	</tr>
        	</table>
        </td>
        <td>
        	<div *ngFor="let ban of roomsMetaData.get(room.key)?.banned">
        		{{ban}} - <span (click)="removeBan(room.key, ban)">Remove ban</span>
        	</div>

        </td>
        <td>
          <button class="btn btn-danger" (click)="destroyRoom(room.key)">Destruir Canal</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


