
    <button #toastTriggerBtn class="btn btn-primary" (click)="launchToast()">Show Toast</button>
  <div class="container">
    <div class="left-column">
      <h2 class="column-heading">Joined channels</h2>
      <ul class="channel-list">
      	  <div *ngFor="let room of myJointRoomList">
      	 	  <li *ngIf="room[0] === '#'" [class.active]="currentRoom ===room" class="d-flex"> 
      	 	  	  <div class="p-2 flex-grow-1 link-channel" (click)="joinUserToRoom(room)">
					{{room}}
				</div>
				<div class="p-2">
					<i class="bi bi-x-circle" (click)="leaveRoom(room)"></i>
				</div>
			 </li>
      	  </div>
      </ul>

      <h2 class="column-heading">My private conversations</h2>
	  <ul class="channel-list"> 
	  	  <div *ngFor="let room of myPrivateMessageRooms">
	  	<li [class.active]="currentRoom === room" class="d-flex">
	  		<div class="p-2 flex-grow-1 link-channel" (click)="joinUserToRoom(room)">{{room}}
	  		</div>
	  	</li>
	  	  </div>
	  </ul>

      <h2 class="column-heading">Available channels</h2>
      <ul class="channel-list">
      	  <div *ngFor="let room of availableRoomsList">
      	 	 <li *ngIf="room[0] === '#' && !myJointRoomList.includes(room)" class="d-flex">
      	 	 	<div class="p-2 flex-grow-1 link-channel" (click)="joinUserToRoom(room)">
					{{room}}
				</div>
      		</li>
      	  </div>
      </ul>
    </div>

    <div class="center-column">
      	<h2 class="column-heading" *ngIf="currentRoom.length > 0">{{currentRoom}}</h2>
      	<h2 class="column-heading" *ngIf="currentRoom.length === 0">
			Welcome! Choose one channel from the list
      	</h2>
      <div class="chat-box-body">
	  <!-- <div class="chat-box-body"> -->
	<div #chatBox class="chat-logs">
	<div #messages *ngFor="let message of messageList.get(this.currentRoom)">
		<div [ngSwitch]="message.nick">
			<span *ngSwitchCase="'system'" style="font-weight: bold">System message: {{message.message}}</span>
			<span *ngSwitchDefault>{{message.nick}} ({{message.date}}): {{message.message}}</span>
		</div>
	</div>
	</div>

	<!-- </div> -->
      </div>
		<form [formGroup]="messageToChat" (ngSubmit)="processMessageToSend()">
			<br />
			<b>{{myUser?.nick}}&nbsp;&nbsp;&nbsp;</b>
			<input class="input-message-chat" type="text" formControlName="newMessage" placeholder="Send new message...">
		
			<button class="button" type="submit">Submit</button>
		</form>
    </div>

	<div class="right-column">
		<h2 class="column-heading">Channel owner</h2>
      	<ul class="user-list">
			<div *ngFor="let roomMetaData of roomsMetaData | keyvalue">

    	  			<span *ngIf="roomMetaData.key === currentRoom && roomMetaData.value.owner">@{{roomMetaData.value.owner}}</span>
    	  			<span *ngIf="roomMetaData.key === currentRoom && !roomMetaData.value.owner">(none)</span>

			</div>
		</ul>
		<h2 class="column-heading">Channel administrators</h2>
		<div *ngFor="let roomMetaData of roomsMetaData | keyvalue">
      		<ul class="user-list">
				<div *ngFor="let nick of roomMetaData.value.admins" > 
						<li *ngIf="roomMetaData.key === currentRoom">@{{nick}}</li>
				</div>
			</ul>
		</div>

	<h2 class="column-heading">Channel users</h2>
		<div *ngFor="let roomMetaData of roomsMetaData | keyvalue">
      		<ul class="user-list">
				<div *ngFor="let nick of roomMetaData.value.users" > 
						<li *ngIf="roomMetaData.key === currentRoom && 
							!roomMetaData.value.admins.includes(nick) && 
							roomMetaData.value.owner !== nick">
							@{{nick}}
						</li>
				</div>
			</ul>
		</div>
	</div>
  </div>

<br>
-------------------
<br>
<br>
