  <div class="container">
    <div class="left-column">
      <h2 class="column-heading">Joined channels</h2>
      <ul class="channel-list">
      	  <div *ngFor="let room of myJointRoomList">
      	 	  <li *ngIf="room[0] === '#'" [class.active]="currentRoom ===room" class="d-flex"> 
      	 	  	  <div class="p-2 flex-grow-1 link-channel" (click)="joinUserToRoom(room)">
					{{room}} <i *ngIf="isPrivateRoom(room)" class="bi bi-lock"></i>	
				  </div>
				<div class="p-2">
					<i class="bi bi-box-arrow-right" (click)="leaveRoom(room)"></i>

				</div>
			 </li>
      	  </div>
      </ul>

      <h2 class="column-heading">My private conversations</h2>
	  <ul class="channel-list"> 
	  	  <div *ngFor="let room of myPrivateMessageRooms">
	  	<li [class.active]="currentRoom === room" class="d-flex">
	  		<div class="p-2 flex-grow-1 link-channel" (click)="joinUserToRoom(room)">{{room}}
								<i *ngIf="activeUsers.includes(room.substr(1))" class="bi bi-circle-fill" style="color: green"></i>
	  		</div>
			<div class="p-2" *ngIf="myUser?.login !== room">
				<i class="bi bi-controller">&nbsp;</i>
				<i *ngIf="!myBlockedUsers.includes(room.substr(1))" class="bi bi-person-fill-slash" (click)="blockUserModal(room.substr(1))">&nbsp;</i>
				<i *ngIf="myBlockedUsers.includes(room.substr(1))" class="bi bi-person-check-fill" (click)="unBlockUserModal(room.substr(1))">&nbsp;</i>
			</div>
	  	</li>
	  	  </div>
	  </ul>

      <div class="d-flex"><div class="flex-grow-1"><span class="column-heading h2">Available channels</span></div><div class="flex-grow-1"><i class="bi bi-plus-circle-fill" (click)="createChannelModal()"></i></div></div>
      <ul class="channel-list">
      	  <div *ngFor="let room of availableRoomsList">
      	 	 <li *ngIf="room && room[0] === '#' && !myJointRoomList.includes(room)" class="d-flex">
      	 	 	<div class="p-2 flex-grow-1 link-channel" *ngIf="!isPrivateRoom(room)" (click)="joinUserToRoom(room)">
					{{room}} 
				</div>
      	 	 	<div class="p-2  flex-grow-1 link-channel" *ngIf="isPrivateRoom(room)" (click)="askForChannelPasswordToJoin(room)">
					{{room}} <i class="bi bi-lock"></i>	
				</div>
      		</li>
      	  </div>
      </ul>
    </div>

    <div class="center-column">
      	<h2 class="column-heading" *ngIf="currentRoom.length > 0">{{currentRoom}}</h2>
      	<h2 class="column-heading" *ngIf="currentRoom.length === 0">
			Welcome! Choose one channel from the list
      	</h2>
      <div class="chat-box-body">
	  <!-- <div class="chat-box-body"> -->
	<div #chatBox class="chat-logs">
	<div #messages *ngFor="let message of messageList.get(this.currentRoom)">
		<div [ngSwitch]="message.login">
			<span *ngSwitchCase="'system'" style="font-weight: bold">System message: {{message.message}}</span>
			<span *ngSwitchDefault>{{message.login}} ({{message.date}}): {{message.message}}</span>
		</div>
	</div>
	</div>

	<!-- </div> -->
      </div>
		 <br />
 		 <div class="row">
 		   	<form class="col d-flex align-items-center" [formGroup]="messageToChat" (ngSubmit)="processMessageToSend()" class="col d-flex">
 		    <div class="me-2 d-flex align-items-center">
				<label class="m-0">{{myUser?.login}}:</label>
			</div>
 		   	<input class="form-control flex-grow-1 me-2" type="text" formControlName="newMessage" placeholder="Send new message...">
 		     <button type="submit" class="btn btn-outline-light">Enviar</button>
 		  </form>
 		 </div>
    </div>

	<div class="right-column">
		<h2 class="column-heading">Channel owner</h2>
      	<ul class="channel-list">
			<li *ngIf="roomsMetaData.get(currentRoom)?.owner" class="d-flex">
				<div class="p-2 flex-grow-1 link-channel">
					@{{roomsMetaData.get(currentRoom)?.owner}}
				</div>
				<div class="p-2" *ngIf="myUser?.login !== roomsMetaData.get(currentRoom)?.owner">
						<i *ngIf="!myBlockedUsers.includes(roomsMetaData.get(currentRoom)!.owner)" class="bi bi-person-fill-slash" (click)="blockUserModal(roomsMetaData.get(currentRoom)!.owner)">&nbsp;</i>
								<i *ngIf="myBlockedUsers.includes(roomsMetaData.get(currentRoom)!.owner)" class="bi bi-person-check-fill" (click)="unBlockUserModal(roomsMetaData.get(currentRoom)!.owner)">&nbsp;</i>
				</div>
			</li>
			<li *ngIf="!roomsMetaData.get(currentRoom)?.owner">
				<div class="p-2 flex-grow-1">
					(none)
				</div>
			</li>

		</ul>
		<h2 class="column-heading">Channel administrators</h2>
        <ul class="channel-list">
			<div *ngFor="let roomMetaData of roomsMetaData | keyvalue">

				<div *ngFor="let login of roomMetaData.value.admins" > 
						<li *ngIf="roomMetaData.key === currentRoom" class="d-flex">
							<div class="p-2 flex-grow-1 link-channel">
								@{{login}}
							</div>
							<div class="p-2" *ngIf="myUser?.login !== login">
								<i *ngIf="!myBlockedUsers.includes(login)" class="bi bi-person-fill-slash" (click)="blockUserModal(login)">&nbsp;</i>
								<i *ngIf="myBlockedUsers.includes(login)" class="bi bi-person-check-fill" (click)="unBlockUserModal(login)">&nbsp;</i>
								<i *ngIf="roomsMetaData.get(currentRoom)?.owner === myUser?.login" class="bi bi-x-circle" (click)="banUserFromRoomModal(login, currentRoom)"></i>
							</div>
						</li>
				</div>
			</div>
		</ul>

	<h2 class="column-heading">Channel users</h2>
      	<ul class="channel-list">
			<div *ngFor="let roomMetaData of roomsMetaData | keyvalue">
				<div *ngFor="let login of roomMetaData.value.users" > 
						<li *ngIf="roomMetaData.key === currentRoom && 
							!roomMetaData.value.admins.includes(login) && 
							roomMetaData.value.owner !== login" class="d-flex">
							<div class="p-2 flex-grow-1 link-channel">
								@{{login}}
								<i *ngIf="activeUsers.includes(login)" class="bi bi-circle-fill" style="color: green"></i>
							</div>
							<div class="p-2" *ngIf="myUser?.login !== login">
								<i class="bi bi-controller">&nbsp;</i>
								<i class="bi bi-chat-left-text" (click)="joinUserToRoom('@'+login)">&nbsp;</i>
								<i *ngIf="!myBlockedUsers.includes(login)" class="bi bi-person-fill-slash" (click)="blockUserModal(login)">&nbsp;</i>
								<i *ngIf="myBlockedUsers.includes(login)" class="bi bi-person-check-fill" (click)="unBlockUserModal(login)">&nbsp;</i>
								<i *ngIf="roomsMetaData.get(currentRoom)?.owner === myUser?.login" class="bi bi-x-circle" (click)="banUserFromRoomModal(login, currentRoom)"></i>
							</div>
						</li>
				</div>

			</div>
		</ul>
	<h2 class="column-heading">Banned users</h2>
      	<ul class="channel-list">
			<div *ngFor="let roomMetaData of roomsMetaData | keyvalue">
				<div *ngFor="let login of roomMetaData.value.banned" > 
						<li *ngIf="roomMetaData.key === currentRoom && 
							!roomMetaData.value.admins.includes(login) && 
							roomMetaData.value.owner !== login" class="d-flex">
							<div class="p-2 flex-grow-1 link-channel">
								@{{login}}
								<i *ngIf="activeUsers.includes(login)" class="bi bi-circle-fill" style="color: green"></i>
							</div>
							<div class="p-2" *ngIf="myUser?.login !== login">
								<i class="bi bi-controller">&nbsp;</i>
								<i class="bi bi-chat-left-text" (click)="joinUserToRoom('@'+login)">&nbsp;</i>
								<i *ngIf="!myBlockedUsers.includes(login)" class="bi bi-person-fill-slash" (click)="blockUserModal(login)">&nbsp;</i>
								<i *ngIf="myBlockedUsers.includes(login)" class="bi bi-person-check-fill" (click)="unBlockUserModal(login)">&nbsp;</i>
								<i *ngIf="roomsMetaData.get(currentRoom)?.owner === myUser?.login" class="bi bi-check-circle" (click)="unBanUserFromRoomModal(login, currentRoom)"></i>
							</div>
						</li>
				</div>

			</div>
		</ul>
	</div>
  </div>

<br>
-------------------
<br>
<br>
