<app-nav-bar></app-nav-bar>
<h1>Signup</h1>

<div class="form-container">
<div class="form-wrapper">
	<div class="form-header">
	<h2>Sign Up</h2>
	<button class="form-button">
		Create Account
	</button>
	</div>
	<div class="form-divider"></div>
	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	<select formControlName="campus" class="form-select">
		<option *ngFor="let option of campusesTypes" [ngValue]="option" [class.default-option]="option === 'None'">
		{{ option }}
		</option>
	</select>
	<div class="form-row">
		<div class="form-column">
		<input formControlName="firstName" type="text" placeholder="First Name" class="form-input">
		</div>
		<div class="form-column">
		<input formControlName="lastName" type="text" placeholder="Last Name" class="form-input">
		</div>
	</div>
	<input type="text" placeholder="Username*" formControlName="nick" class="form-input" required>
	<span class="form-error" *ngIf="(profileForm?.get('nick')?.touched || submitted) && profileForm?.get('nick')?.errors?.['required']">
		Username is required
	</span>
	<span class="form-error" *ngIf="profileForm?.get('nick')?.touched && profileForm?.get('nick')?.errors?.['userNameNotAvailable']">
		Username is not available
	</span>
	<input type="email" placeholder="Email*" formControlName="email" class="form-input" required>
	<span class="form-error" *ngIf="(profileForm?.get('email')?.touched || submitted) && profileForm?.get('email')?.errors?.['required']">
		Email is required
	</span>
	<span class="form-error" *ngIf="profileForm?.get('email')?.touched && profileForm?.get('email')?.errors?.['email']">
		Enter a valid email address
	</span>
	<input type="text" placeholder="Password*" formControlName="password" class="form-input" required>
	<span class="form-error" *ngIf="(profileForm?.get('password')?.touched || submitted)  && profileForm?.get('password')?.errors?.['required']">
		Password is required
	</span>
	<span class="form-error" *ngIf="(profileForm?.get('password')?.touched && profileForm?.get('password')?.value) && profileForm?.get('password')?.errors?.['invalidPattern']">
		Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number
	</span>
	<input type="text" placeholder="Confirm Password*" formControlName="cPassword" class="form-input" required>
	<span class="form-error" *ngIf="(profileForm?.get('cPassword')?.touched || submitted)  && profileForm?.get('cPassword')?.errors?.['required']">
		Confirm password is required
	</span>
	<span class="form-error" *ngIf="(profileForm?.get('cPassword')?.touched && profileForm?.get('cPassword')?.value) && profileForm?.get('cPassword')?.errors?.['passwordMismatch']">
		Passwords doesnot match
	</span>
	<div class="form-actions">
		<button class="form-button" [disabled]="!profileForm.valid" type="submit">
		Create Account
		</button>
	</div>
	</form>
	<div class="form-footer">
	<p>Already have an account?</p>
	<button class="form-secondary-button" (click)="signIn()">
		Sign In
	</button>
	</div>
</div>
</div>
