/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Establece la duración de la animación */
.toast {
  animation-duration: 0.5s;
}

/* Establece la animación de entrada */
.toast.show {
  animation-name: fadeIn;
}

/* Establece la animación de salida */
