<app-nav-bar/>

<h2>My friends</h2>

<table class="table">
	<thead>
        <tr>
          <th>Nick</th>
          <th>Foto</th>
          <th>Status</th>
          <th>Actions</th>
          <th>Live game</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí irá el *ngFor con los datos de los amigos -->
        <tr *ngFor="let friend of friends">
          	<td><a style="text-decoration:none; color: inherit;" routerLink="/user-profile/{{friend.login}}">{{ friend.nick}}</a></td>
          <td><img [src]="imagesBaseUrl + friend.image" alt="Picture of {{ friend.login }}" class="img-thumbnail"style="max-width: 100px;" ></td>
          <td>
          	  <span *ngIf="getUserStatus(friend.login) === 0" class="bi bi-circle-fill" style="color: red"> Offline</span>
          	  <span *ngIf="getUserStatus(friend.login) === 1" class="bi bi-circle-fill" style="color: green"> Online</span>
          	  <span *ngIf="getUserStatus(friend.login) === 3" class="bi bi-circle-fill" style="color: yellow"> Playing</span>
          </td>
          <td>
	  		<button class="btn btn-primary" (click)="removeFriendship(friend.login)">Remove friend</button>
          </td>
          <td><button class="btn btn-primary" (click)="spectatorTo(getGameRoom(friend.login))">{{getGameRoom(friend.login)}}</button></td>
        </tr>
      </tbody>
    </table>

	<h2>Incoming friend requests</h2>

<table class="table">
	<thead>
        <tr>
          <th>Nick</th>
          <th>Foto</th>
          <th>Status</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
    	<tr *ngFor="let request of incomingFriendRequests">
          <td>{{ request.nick}}</td>
          <td><img [src]="request.image" alt="Picture of {{ request.login }}" class="img-thumbnail"style="max-width: 100px;" ></td>
          <td>status</td>
          <td>
	 		<button class="btn btn-primary" (click)="acceptFriendShipRequest(request.login)">ACCEPT FRIENDSHIP REQUEST</button>
	 		<br/>
	 		<br/>
	 		<button class="btn btn-primary" (click)="rejectFriendshipRequest(request.login)">REJECT FRIENDSHIP REQUEST</button>
          </td>

        </tr>
      </tbody>
    </table>

<router-outlet>
