
.image-gallery {
	display: flex;
	flex-wrap: wrap; 
  }
  

.image-container {
	flex: 0 0 calc(20% - 20px);
	margin: 10px;
	box-sizing: border-box;
	position: relative;
  }

  .image-container.selected-image::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 5px solid #d4da5b;
	box-sizing: border-box;
  }
  
  .gallery-image {
	width: 100%; 
	height: auto; 
	cursor: pointer; 
  }
  

  .gallery-image:hover {
	opacity: 0.8; 
  }

  /* Ajustes de estilo para el contenedor de carga */
.upload-container {
  width: 74px;
  height: 87px;
  background-color: transparent;
  border: 2px solid #d4da5b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
}

/* Ajustes de estilo para el icono de carga */
.upload-icon {
  font-size: 24px;
  color: #d4da5b;
}

.avatar-container {
  position: relative;
  width: fit-content;
}

.box-shadow-avatar{
  box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-cropper-container {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 20px 20px #6c93001a;
}

.avatar-placeholder {
  background-image: url('/usr/src/app/src/src/assets/avatar-placeholder.png');
}

.icon-wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  padding: .35rem;
  background-color: #2962FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;
}

.icon-wrapper:hover {
  transition: all .25s;
  background-color: #1e4e91;
}

.icon {
  color: white;
}

.file-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Asegúrate de que el label esté por debajo del icono */
}

input[type='file'] {
  opacity: 0;
  z-index: 3; /* Asegúrate de que el input esté por encima del label y del icono */
}

