<div class="modal fade" id="exampleModal" tabindex="-1" [ngClass]="{ 'show': isModalOpen(), 'd-block': isModalOpen() }">
<div class="modal-overlay modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <ng-container [ngSwitch]="getCurrentModal()">
      <!-- Template 1 -->
      <ng-template [ngSwitchCase]="'template1'">
        <div id="modal-content-template1">
		  <div class="modal-header">
		  	  <h1 class="modal-title fs-5" id="exampleModalLabel">Channel {{getModalData()}} protected by password</h1>
		  <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
          	<p>This channel is protected. To join it, introduce the password: </p>
			<input type="text" [(ngModel)]="inputValue" (keydown.enter)="saveAndCloseModal()" placeholder="Enter password">
			&nbsp;&nbsp;&nbsp;

   		    <button (click)="saveAndCloseModal()" type="button" class="btn btn-outline-light">Join</button>
      	  </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'template2'">
        <div id="modal-content-template2">
		  <div class="modal-header">
		  	  <h1 class="modal-title fs-5" id="exampleModalLabel">Create new channel</h1>
		  <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
          	<p>Introduce a name for the channel: </p>
			<input type="text" [(ngModel)]="inputValue" (keydown.enter)="saveAndCloseModal()" placeholder="Enter name"><br/>
			<input type="text" [(ngModel)]="inputValue2" (keydown.enter)="saveAndCloseModal()" placeholder="Enter password">
			&nbsp;&nbsp;&nbsp;
			<br />

   		    <button (click)="saveAndCloseModal()" type="button" class="btn btn-outline-light">Join</button>
      	  </div>
        </div>
      </ng-template>


      <ng-template [ngSwitchCase]="'template3'">
        <div id="modal-content-template3">
          <h2>Modal Template 3</h2>
          <p>This is the content of template 3.</p>
          <button (click)="closeModal()">Close Modal</button>
        </div>
      </ng-template>

      <ng-template ngSwitchDefault>
        <div>
          <h2>Unknown Modal Template</h2>
          <p>This is an unknown template.</p>
          <button (click)="closeModal()">Close Modal</button>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
</div>
