
<h1>Signup</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
	<br />
	<label for="nick">Nick </label>
	<input id="nick" type="text" formControlName="nick" placeholder="nick">
	<br />
	<br />
	<label for="email">Email</label>
	<input id="email" type="text" formControlName="email" placeholder="email">
	<br />
	<br />
	<button class="button" type="submit"> Submit</button>
</form>




<p>{{ signupForm.value.nick }}</p>
<p>{{ signupForm.value.email }}</p>
<p>{{ signupForm.value | json }}</p>
<router-outlet></router-outlet>
