

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
	<br />
	<label for="name">Nick </label>
	<input id="name" type="text" formControlName="name" placeholder="name">
	<br />
	<br />
	<label for="email">Email</label>
	<input id="email" type="text" formControlName="email" placeholder="email">
	<br />
	<br />
	<button class="button" type="submit"> Submit</button>
</form>


<p>{{ signupForm.value.name }}</p>
<p>{{ signupForm.value.email }}</p>
<p>{{ signupForm.value | json }}</p>
<router-outlet></router-outlet>
